@font-face {
    font-family: lato;
    src: url(Lato-Medium.ttf);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 17px;
    outline: none;
}

body {
   font-family: lato;
    color: rgba(0, 0, 0, 0.76);
}

:root {
    --primary: #000;
    --dark: #000;
    --light: #f1f3f4;
}

nav {
    background: #fff;
    height: 80px;
    gap: 40PX;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.mylogo a:hover {
    background: none;
}

label.logo {
    color: var(--dark);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}


nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: var(--dark);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
}

nav a.active,
nav a:hover {
    background: var(--primary);
    transition: .5s;
    color: white;
}

.checkbtn {
    font-size: 30px;
    color: #1b9bff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav a:hover,
    nav a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.heading {
    font-size: 30px;
    color: var(--dark);
    font-weight: bold;
    margin-bottom: 10px;
}

.subheading {
    font-size: 18px;
    color: var(--primary);
    margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: var(--dark);
    padding: 50px 7%;
}

footer .subheading {
    color: var(--light);
}

footer .footeritem {
    flex: 1;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.row .col {
    flex: 1;
}

.icon i {
    color: var(--light);
    border: 1px dashed white;
    padding: 20px;
    border-radius: 50%;
}

footer .icon {
    text-align: right;
}

footer a {
    color: white;
}

.portfolio {
    padding: 50px 7%;
    text-align: center;
    background-color: var(--light);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 10px 18px;
    text-align: left;
}

.portfolio .heading {
    margin-bottom: 50px;
}

.contact {
    background-color: #ffffff;
    padding: 50px 7%;
    text-align: center;
}

.contact .heading {
    margin-bottom: 50px;
}

.contact input[type=text], .contact input[type=number], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.att {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact input[type=submit] {
    background-color: var(--dark);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.contact input[type=submit]:hover {
    background-color: var(--primary);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.contact .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin: auto;
}
